<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>detail</title>
</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="detail">
  <h1 class="title"><span th:text="${member.memberName}" ></span>님 상세정보</h1>
  아이디 : <span th:text="${member.memberId}"></span> <br>
  이메일 : <span th:text="${member.memberEmail}"></span> <br>
  비밀번호 : <span th:text="${member.memberPassword}"></span> <br>
  이름 : <span th:text="${member.memberName}"></span> <br>
  닉네임 : <span th:text="${member.memberNickName}"></span> <br>
  휴대전화 : <span th:text="${member.memberPhone}"></span> <br>
  생년월일 : <span th:text="${member.memberBirth}"></span> <br>
  주소 : <span th:text="${member.memberAddress}"></span> <br>
  권한 : <span th:text="${member.role}"></span> <br>
  가입일 : <span th:text="${#temporals.format(member.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span> <br>
  <a th:href="@{/member/update/{memberId}(memberId=${member.memberId})}">수정</a>
  <a th:href="@{/member/delete/{memberId}(memberId=${member.memberId})}">삭제</a>
</div>
</body>
</html>