<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>join</title>
    <script th:src="@{/js/checkEmailNickName.js}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<div class="join">
    <form th:action="@{/member/join}" method="post" th:object="${memberDto}">
        <ul>
            <li>
                <label th:for="memberEmail">이메일</label>
                <input type="email" th:field="*{memberEmail}" placeholder="이메일 입력">
            </li>
            <p th:if="${#fields.hasErrors('memberEmail')}" th:errors="*{memberEmail}" class="error"></p>
            <!-- 이메일 중복 확인 버튼 -->
            <li>
                <button type="button" id="emailCheckButton">이메일 중복 확인</button>
            </li>
            <!-- 중복 확인 결과 메시지 영역 -->
            <li>
                <d id="emailAvailable" class="valid-feedback" style="display: none;"></d>
                <d id="emailNotAvailable" class="invalid-feedback" style="display: none;"></d>
            </li>
            <li>
                <label th:for="memberPassword">비밀번호</label>
                <input type="password" th:field="*{memberPassword}" placeholder="비밀번호 입력">
            </li>
            <p th:if="${#fields.hasErrors('memberPassword')}" th:errors="*{memberPassword}" class="error"></p>
            <li>
                <label th:for="memberName">이름</label>
                <input type="text" th:field="*{memberName}" placeholder="이름 입력">
            </li>
            <p th:if="${#fields.hasErrors('memberName')}" th:errors="*{memberName}" class="error"></p>
            <li>
                <label th:for="memberNickName">닉네임</label>
                <input type="text" th:field="*{memberNickName}" placeholder="닉네임 입력">
            </li>
            <p th:if="${#fields.hasErrors('memberNickName')}" th:errors="*{memberNickName}" class="error"></p>
            <!-- 닉네임 중복 확인 버튼 -->
            <li>
                <button type="button" id="nickNameCheckButton">닉네임 중복 확인</button>
            </li>
            <!-- 중복 확인 결과 메시지 영역 -->
            <li>
                <d id="nickNameAvailable" class="valid-feedback" style="display: none;"></d>
                <d id="nickNameNotAvailable" class="invalid-feedback" style="display: none;"></d>
            </li>
            <li>
                <label th:for="memberPhone">휴대전화</label>
                <input type="text" th:field="*{memberPhone}" placeholder="휴대전화 입력">
            </li>
            <p th:if="${#fields.hasErrors('memberPhone')}" th:errors="*{memberPhone}" class="error"></p>
            <li>
                <label th:for="memberBirth">생년월일</label>
                <input type="text" th:field="*{memberBirth}" placeholder="생년월일 입력">
            </li>
            <p th:if="${#fields.hasErrors('memberBirth')}" th:errors="*{memberBirth}" class="error"></p>
            <li>
                <label th:for="memberAddress">주소</label>
                <input type="text" th:field="*{memberAddress}" placeholder="주소 입력">
            </li>
            <p th:if="${#fields.hasErrors('memberAddress')}" th:errors="*{memberAddress}" class="error"></p>
            <li>
                <input type="submit" value="회원가입">
            </li>
        </ul>
    </form>
</div>
</body>
</html>